<%- include ("../partials/header") %>

    <div class="jumbotron">
        <h1>Add a new campground</h1>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-sm-2 col-lg-3"></div>
        <div class="col-md-8 col-lg-6">
            <div class="card p-4">
                <form action="/campgrounds" method="POST">
                    <div class="form-group">
                        <label for="nameinput">Name</label>
                        <input class="form-control mb-4" type="text" name="name" id="namelinput">
                    </div>
                    <div class="form-group">
                        <label for="imageinput">Image URL</label>
                        <input class="form-control mb-3" type="text" name="image" id="imageinput">
                    </div>
					<div class="form-group">
                        <label for="descriptionInput">Description</label>
                        <input class="form-control mb-3" type="text" name="description" id="descriptionInput">
                    </div>
                    <div class="form-group">
                        <label for="priceinput">Price</label>
                        <input class="form-control mb-3" type="number" name="price" id="priceinput" min="0.01" step="0.01">
                    </div>
                        <button class="btn btn-primary mb-4">Submit</button>
                </form>
            </div>
            <div class="btn btn-info mt-4">
                <a class="my-2 text-light" href="/campgrounds">Back</a>
            </div>
            
        </div>
    </div>


    
</div>

<%- include ("../partials/footer") %>